
.image:hover{
    transform: scale(1.001);background-color:chartreuse;
    
}

.image{
    display: flex;
    justify-content: center;
    gap: 20px;
}

.text{
    display: grid;
    justify-content: center;
}